.containerD{
    width: 100%;
    height: 100%;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    gap: 1%;
}
.leftBlock{
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.horizontCards{
    background-color: rgba(250, 183, 59, 0.216);
    width: 100%;
    height: 35%;
    padding:2%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.414);
}
.verticalCards{
    background-color: rgb(136, 255, 127);
    width: 100%;
    height: 65%;
}
.rightBlock{
    background-color: rgb(190, 49, 195);
    width: 26%;
    height: 100%;
}