.containerD{
    width: 100%;
    height: 100%;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    gap: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.leftBlock{
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.horizontCards{
    background-color: rgba(250, 183, 59, 0.216);
    width: 100%;
    height: 35%;
    padding:2%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.414);
}
.verticalCards{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;

    .vLeft{
        width: 50%;
        height: 100%;
        padding: 3%;
    }
    .vRight{
        width: 50%;
        height: 100%;
        padding: 3%;
    }
}
.headers{
    width:100%;
    height:8%;
    background-color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.414);
    
}
.vSlider{
    width: 100%;
    height: 100%;
    padding: 3% 7% 3% 7%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.rightBlock{
    background-color: rgba(250, 183, 59, 0.216);
    width: 26%;
    height: 100%;
    padding:2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.414);
}
.headerRight{
    width:100%;
    height:5.5%;
    background-color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.414);
}
.vSliderTwo{
    width: 100%;
    height: 100%;
    padding: 3% 0% 3% 0%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}