.readyCardContainer{
display: flex;
flex-direction: row;
gap: 3%;
width: 100%;
height: 19%;
border-radius:6px;
box-shadow: 2px 2px 3px rgb(9, 9, 9);
padding: 2.5%;
}
.mealImg{
    background-image: url("../assets//images/image3.png");
    width: 36%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.mealData{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.readyBtn{
    background-color: rgba(57, 248, 9, 0.429);
    width: 40%;
    padding: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(53, 179, 22);
    font-size: larger;
}