.readyCardContainerG{
display: flex;
flex-direction: row;
gap: 3%;
width: 100%;
height: 14%;
border-radius:6px;
box-shadow: 2px 2px 3px rgb(9, 9, 9);
padding: 2.5%;
}
.mealImg{
    width: 36%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.mealData{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.readyBtnG{
    background-color: rgba(248, 184, 9, 0.429);
    width: 53%;
    padding: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(221, 163, 4);
    font-size: larger;
}