
.mainNav{
    background-color: rgba(250, 183, 59, 0.216);
    width: 14%; /* 10% of parent width */
    min-height: 100vh; /* Full viewport height */
    height: 100%; /* Takes full height of parent */
    
    /* Optional: Make it look better */
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 3%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(156, 156, 156);
    justify-content: space-between;
}

.sectOne{
    display: flex;
    flex-direction: column;
    gap: 3%;
    height: 50%;  
}

.sectTwo{
    display: flex;
    flex-direction: column;
    gap: 3%;
    height: 50%; 
    justify-content: end;
}